<section class="mt-4">
  <div class="container-fluid d-flex flex-row justify-content-between">
    <div class="">

      <form class="duration-form">
        <mat-form-field class="example-full-width">
          <mat-label>Duration</mat-label>
          <input matInput type="time" placeholder="" spellcheck="false">
          <mat-hint align="start"><strong>HH:MM</strong> </mat-hint>
        </mat-form-field>
      </form>

    </div>
    <div class="">

      <form class="weather-form">
        <mat-form-field class="weather-full-width">
          <input type="text"
                 placeholder="weather"
                 aria-label="weather"
                 matInput
                 [formControl]="filteredWeathers"
                 [matAutocomplete]="autoWeather"
                 spellcheck="false">
          <mat-autocomplete #autoWeather="matAutocomplete">
            <mat-option *ngFor="let weather of filteredWeathers | async" [value]="weather">
              {{weather}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

    </div>
  </div>
</section>
