#caption {
  padding-top: 44px;
}
#caption .container-fluid {
  width: 550px;
  max-width: 100%;
}
#caption #logo {
  font-family: "ESP_ital";
  color: #ff0000;

  font-size: 2em;
}
#caption #logoCaption span {
  border-bottom: 1px solid currentColor;
}
